.app-section-main{
    ::-webkit-scrollbar {
        width: 1px !important;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
        background: #999;
        border-radius: 50px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #777;
    }
}