.dashboard-section-main {
    margin: 0px 15px -3px 15px;
    ::-webkit-scrollbar {
        width: 8px !important;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
        background: #999;
        border-radius: 50px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #777;
    }
    .fixed-phone-mobile, .fixed-whatsapp-mobile{
        display: none;
    }
    .fixed-phone {
        position: fixed;
        top: 42%;
        left: 96%;
        z-index: 11;
        .phone-icon {
            height: 44px;
            width: 44px;
            background: #32a86d;
            color: #ffffff;
            border-radius: 10px;
            padding: 10px;
            cursor: pointer;
            border: 1px solid #ffffff;
        }
    }
    .fixed-whatsapp {
        position: fixed;
        top: 49%;
        left: 96%;
        z-index: 11;
        .whats-app-icon {
            height: 44px;
            width: 44px;
            background: #32a86d;
            color: #ffffff;
            border-radius: 10px;
            padding: 10px;
            cursor: pointer;
            border: 1px solid #ffffff;
        }
    }
    .fixed-slogan {
        position: fixed;
        top: 94%;
        z-index: 11;
        left: 41%;
        .slogan-content {
            padding: 3px 5px 3px 5px;
            font-size: 18px;
            font-weight: bold;
            color: #000000;
            border-radius: 6px;
            z-index: 1111111;
        }
    }
    .dashboard-header {
        padding-top: 15px;
        background: #f2f2f2;
        display: flex;
        width: 100%;
        .logo-image {
            margin: 4px 0px 0px 8px;
            height: 70px;
            width: 75px;
        }
        .header-name {
            font-size: 40px;
            color: #32a86d;
            padding: 0px 15px 5px 5px;
            cursor: pointer;
            width: 87%;
            font-weight: bold;
        }
        .header-name:hover {
            opacity: 0.9;
        }
        .signin-option {
            width: 8%;
            color: #32a86d;
            text-align: center;
            height: 40px;
            width: 86px;
            cursor: pointer;
            margin: 16px 0px 5px 0px;
            border: 2px solid #32a86d;
        }
        .signin-option:hover {
            border: 1px solid #32a86d;
            font-weight: bold;
        }
    }
    .dashboard-body-section {
        background: #ffffff;
        padding: 40px 0px 40px 40px;
        display: flex;
        .text-section {
            width: 78%;
            padding: 20px 0px 0px 0px;
            .body-text {
                font-size: 32px;
                color: #018044;
                text-transform: uppercase;
                font-weight: bold;
                line-height: 30px;
            }
        }
        .button-section {
            text-align: center;
            padding: 0px 0px 0px 0px;
            .register-button-quotes {
                padding: 0px 0px 5px 0px;
                font-size: 18px;
                font-weight: bold;
                color: #018044;
            }
            .register-button {
                height: 40px;
                width: 120px;
                border: 2px solid #018044;
                color: #018044;
                cursor: pointer;
            }
            .register-button:hover {
                border: 1px solid #018044;
                color: #018044;
                transform: scale(1.03);
                font-weight: bold;
            }
        }
    }
    .intro-section {
        display: flex;
        width: 99%;
        margin: 10px 5px 0px 10px;
        .intro-content {
            width: 60%;
            padding: 20px 0px 0px 20px;
            border-radius: 13px;
            background: #f2f2f2;
            .intro-header {
                padding: 15px 0px 0px 15px;
                font-size: 28px;
                font-weight: bold;
                color: #000000;
            }
            .intro-body {
                font-size: 20px;
                padding: 0px 20px 0px 20px;
                text-align: justify;
                color: #000;
                span {
                    font-weight: bold;
                }
            }
            .intro-navigate {
                font-weight: bold;
                color: #000000;
                font-size: 17px;
                padding: 5px 20px 10px 20px;
            }
        }
        .image-section-intro {
            width: 40%;
            .intro-img {
                height: 370px;
                width: 100%;
            }
        }
    }
    .about-section {
        width: 100%;
        display: flex;
        margin: 10px 0px 0px 0px;
        padding: 0px 5px 0px 10px;
        .about-content-section {
            width: 60%;
            background: #f2f2f2;
            border-radius: 10px;
            .about-header {
                padding: 30px 0px 0px 15px;
                font-size: 30px;
                font-weight: bold;
                color: #000000;
                font-family: "system-ui";
            }
            .about-content {
                display: flex;
                font-size: 18px;
                color: #000;
                text-align: justify;
                padding: 0px 10px 0px 10px;
                .about-icon {
                    color: #000;
                    margin-right: 5px;
                    margin-top: 3px;
                    font-size: 18px;
                }
            }
        }
        .about-image-section {
            width: 40%;
            text-align: right;
            .about-para-bg {
                background: #f2f2f2;
                padding-top: 40px;
            }
            .image-about {
                height: 300px;
            }
        }
    }
    .expect-section {
        background: #f2f2f2;
        width: 99.6%;
        padding: 0px 0px 10px 0px;
        border-radius: 10px;
        margin: 9px 0px 0px 0px;
        .expect-header {
            padding: 15px 0px 0px 15px;
            margin: 0px 20px 0px 0px;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            color: #000000;
            font-family: "system-ui";
        }
        .expect-content {
            font-size: 18px;
            padding: 5px 0px 0px 20px;
            color: #000;
            display: flex;
            .about-icon {
                color: #000;
                margin-right: 5px;
                margin-top: 3px;
                font-size: 18px;
            }
        }
    }
    .present-scenario-section {
        display: flex;
        width: 100%;
        padding: 10px 0px 0px 0px;
        .left-section{
            margin: 0px 5px 5px 0px;
        }
        .right-section{
            margin: 0px 5px 5px 5px;
        }
        .left-section,
        .right-section {
            width: 50%;
            background: #f2f2f2;
            border-radius: 10px;
            padding: 10px;
            .title-para {
                padding: 5px 0px 0px 10px;
                font-size: 30px;
                font-weight: bold;
                color: #000000;
                font-family: "system-ui";
            }
            .title-content {
                padding: 5px 0px 0px 10px;
                font-size: 18px;
                color: #000000;
                text-align: justify;
                span {
                    color: #000000;
                    font-weight: bolder;
                }
            }
        }
        .middle-section {
            width: 10%;
            text-align: center;
            // background: #018044;
            border-radius: 10px;
            margin: 5px;
            .present-image {
                height: 200px;
                width: 200px;
            }
        }
    }
    .course-navigate-button {
        width: 100%;
        text-align: center;
        padding: 10px 0px 0px 10px;
        .view-course-button {
            height: 40px;
            width: 150px;
            border: 2px solid #018044;
            color: #018044;
            cursor: pointer;
        }
        .view-course-button:hover {
            border: 1px solid #018044;
            color: #018044;
            transform: scale(1.03);
            font-weight: bold;
        }
    }
    .list-of-status {
        padding: 0px;
        display: flex;
        width: 100%;
        // .content-section {
        //     margin: 8px;
        //     height: 200px;
        //     width: 24%;
        //     background: #f2f2f2;
        //     border-radius: 10px;
        //     padding: 30px 0px 0px 0px;
        //     .icon-content {
        //         margin: 0 auto;
        //         width: 100%;
        //         font-size: 80px;
        //         color: #018044;
        //     }
        // }
        .status-header {
            font-weight: bold;
            padding: 5px 0px 0px 0px;
            font-size: 16px;
            text-align: center;
        }
        .content-section:hover {
            transform: scale(1.05);
            cursor: pointer;
        }
    }
    .future-section {
        padding: 10px 0px 10px 0px;
        width: 100%;
        .future-content {
            width: 100%;
            margin: 0 auto;
            border-radius: 10px;
            padding: 0px 0px 10px 0px;
            .every-course-section{
                display: flex;
                width: 100%;
                .course-content, .course-image{
                    width: 50%;
                }
            }
            .future-header {
                padding: 15px 0px 0px 15px;
                font-size: 30px;
                font-weight: bold;
                color: #000000;
                text-align: left;
                background: #f2f2f2;
                font-family: "system-ui";
            }
            .future-content-msg {
                font-size: 18px;
                display: flex;
                padding: 0px 10px 0px 10px;
                .about-icon {
                    color: #000;
                    margin-right: 5px;
                    margin-top: 3px;
                    font-size: 18px;
                }
            }
        }
    }
    .footer-section {
        background: #32a86d;
        width: 100%;
        .footer-header {
            text-align: center;
            font-weight: bold;
            font-size: 25px;
            color: #ffffff;
            padding: 0px;
        }
        .footer-content {
            display: flex;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 5px;
            .left-sec {
                width: 50%;
                padding: 0px 0px 20px 20px;
                .footer-body {
                    padding: 0px 0px 0px 5px;
                    color: #ffffff;
                    display: flex;
                    font-size: 16px;
                    cursor: pointer;
                    .footer-icon {
                        color: #ffffff;
                        margin-right: 5px;
                    }
                }
                .address-section{
                    display: flex;
                    width: 100%;
                    .left-address-head{
                        width: 20%;
                    }
                    .right-address-content{
                        width: 40%;
                    }
                }
            }
            .right-sec {
                width: 50%;
                text-align: right;
                .footer-body {
                    padding: 0px 0px 0px 5px;
                    color: #ffffff;
                    display: flex;
                    font-size: 16px;
                    .footer-icon {
                        color: #ffffff;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    .border-section {
        .top-left {
            background: #ff0000;
            padding: 10px;
            width: 80px;
            position: fixed;
            top: 0%;
            left: 0%;
            z-index: 11;
        }
        .top-right {
            background: #32a86d;
            padding: 10px;
            width: 80px;
            position: fixed;
            top: -1% !important;
            right: 0%;
            z-index: 11;
        }
        .bottom-left {
            background: #3399ff;
            padding: 10px;
            width: 80px;
            position: fixed;
            top: 96.2%;
            left: 0%;
            z-index: 11;
        }
        .bottom-right {
            background: #ffff00;
            padding: 10px;
            width: 80px;
            position: fixed;
            top: 96.2%;
            z-index: 11;
            right: 0%;
        }
        .right-top {
            background: #32a86d;
            padding: 10px;
            width: 10px;
            height: 80px;
            position: fixed;
            top: 0%;
            right: 0%;
            z-index: 11;
        }
        .left-top {
            background: #ff0000;
            padding: 10px;
            width: 8px;
            height: 80px;
            position: fixed;
            top: 0%;
            left: 0%;
            z-index: 11;
        }
        .left-bottom {
            background: #3399ff;
            padding: 10px;
            width: 8px;
            height: 80px;
            position: fixed;
            top: 87%;
            z-index: 11;
            left: 0%;
        }
        .right-bottom {
            background: #ffff00;
            padding: 10px;
            width: 8px;
            height: 80px;
            position: fixed;
            top: 87%;
            right: 0%;
            z-index: 11;
        }
    }
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 160px;
    perspective: 1000px;
    margin: 10px 7px 7px 7px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #f2f2f2;
    color: black;
  }
  
  .flip-card-back {
    background-color: #f2f2f2;
    color: #000000;
    transform: rotateY(180deg);
    padding: 10px;
  }
  .image-section{
      width: 300px;
      height: 200px;
  }


  .content-section {
    margin: 8px;
    background: #f2f2f2;
    border-radius: 0px;
    padding: 15px 0px 0px 0px;
    .icon-content {
        margin: 0 auto;
        font-size: 80px;
        color: #018044;
    }
}
.status-header {
    font-weight: bold;
    padding: 5px 0px 0px 0px;
    font-size: 16px;
    text-align: center;
}
.status-body {
    font-size: 17px;
    vertical-align: middle;
    color: #000;
}