@media only screen and (max-width: 550px) {
    .dashboard-section-main {
        margin: 0px !important;
    }
    .header-name {
        width: 80% !important;
        font-size: 30px !important;
        padding: 6px 0px 0px 5px !important;
    }
    .logo-image {
        margin: 2px 0px 0px 10px !important;
        height: 60px !important;
        width: 70px !important;
    }
    .signin-option {
        width: 20% !important;
        font-size: 13px;
        margin: 10px 5px 0px 0px !important;
        // padding: 12px 0px 0px 0px !important;
    }
    .dashboard-body-section {
        padding: 100px 0px 100px 0px !important;
        display: block !important;
    }
    .text-section {
        width: 100% !important;
    }
    .body-text {
        text-align: center !important;
        padding: 0px !important;
        font-size: 30px !important;
    }
    .button-section {
        padding: 60px 0px 0px 0px !important;
    }
    .register-button-quotes {
        padding: 0px 0px 20px 0px !important;
    }
    .intro-content {
        width: 80% !important;
    }
    .intro-img {
        height: 255px !important;
    }
    .future-content {
        width: 100% !important;
    }
    .expect-section {
        width: 97% !important;
        margin: 5px 0px 0px 10px !important;
    }
    .footer-content {
        width: 100% !important;
    }
    .left-sec {
        width: 100% !important;
    }
    .right-sec {
        margin-top: 5px !important;
    }
    .flip-card {
        width: 100% !important;
        margin-bottom: 10px !important;
    }
    .future-section {
        padding: 5px !important;
    }
    .border-section {
        .top-left,
        .top-right,
        .bottom-left,
        .bottom-right,
        .right-top,
        .left-top,
        .left-bottom,
        .right-bottom {
            display: none !important;
        }
    }
    .address-section{
        padding: 10px 0px 0px 0px;
        display: block !important;
        width: 100%;
    }
    .left-address-head{
        width: 100% !important;
        font-weight: bold;
    }
    .right-address-content{
        width: 89% !important;
    }
    .fixed-phone-mobile {
        display: block !important;
        position: fixed;
        top: 42%;
        left: 87%;
        z-index: 11;
        .phone-icon {
            height: 44px;
            width: 44px;
            background: #32a86d;
            color: #ffffff;
            border-radius: 10px;
            padding: 10px;
            cursor: pointer;
            border: 1px solid #ffffff;
        }
    }
    .fixed-whatsapp-mobile {
        display: block !important;
        position: fixed;
        top: 49%;
        left: 87%;
        z-index: 11;
        .whats-app-icon {
            height: 44px;
            width: 44px;
            background: #32a86d;
            color: #ffffff;
            border-radius: 10px;
            padding: 10px;
            cursor: pointer;
            border: 1px solid #ffffff;
        }
    }
    .every-course-section{
        display: block !important;
        .course-content, .course-image{
            width: 100% !important;
        }
        .course-image{
            text-align: center;
            margin: 10px 0px 0px 0px;
        }
    }
}

@media only screen and (max-width: 800px) {
    .dashboard-section-main {
        padding: 0px !important;
    }
    .content-section {
        width: 100% !important;
    }
    .list-of-status {
        display: block !important;
        padding: 5px 0px 20px 5px !important;
        margin: 0px;
    }
    .footer-section {
        display: block !important;
    }
    .footer-left {
        width: 100% !important;
        border-bottom: 1px solid #f2f2f2;
    }
    .intro-section {
        display: block !important;
    }
    .intro-content {
        width: 97% !important;
        padding: 10px !important;
    }
    .image-section-intro {
        width: 100% !important;
    }
    .intro-img {
        height: 450px;
    }
    .about-section {
        display: block !important;
        padding: 0px 0px 0px 10px !important;
    }
    .about-content-section {
        width: 100% !important;
        padding: 0px 0px 10px 0px;
        margin: 10px 0px 0px 0px;
    }
    .about-image-section {
        width: 100% !important;
    }
    .image-about {
        height: 150px !important;
    }
    .present-scenario-section {
        display: block !important;
        padding: 10px 0px 10px 0px !important;
    }
    .left-section,
    .right-section,
    .middle-section {
        width: 100% !important;
    }
    .about-para-bg {
        display: none;
    }
    .fixed-slogan {
        display: none;
    }
    .fixed-whatsapp, .fixed-phone {
        display: none !important;
    }
}

@media only screen and (max-width: 1000px) {
    .list-of-status {
        padding: 5px 20px 20px 5px !important;
        margin: 0px;
    }
}

@media only screen and (max-width: 1050px) {
    .status-body{
        font-size: 14px !important;
    }
    .fixed-slogan {
        top: 97% !important;
        left: 37% !important;
    }
    .fixed-whatsapp {
        top: 47% !important;
        left: 92% !important;
    }
    .fixed-phone {
        top: 42% !important;
        left: 92% !important;
    }
    .border-section {
        .top-left {
            padding: 7px !important;
            width: 80px !important;
            position: fixed !important;
            top: 0% !important;
            left: 0% !important;
        }
        .top-right {
            padding: 7px !important;
            width: 80px !important;
            position: fixed !important;
            top: 0% !important;
            right: 0% !important;
        }
        .bottom-left {
            padding: 7px !important;
            width: 80px !important;
            position: fixed !important;
            top: 98.5% !important;
            left: 0% !important;
        }
        .bottom-right {
            padding: 7px !important;
            width: 80px !important;
            position: fixed !important;
            top: 98.5% !important;
            right: 0% !important;
        }
        .right-top {
            padding: 7px !important;
            width: 10px !important;
            height: 90px !important;
            position: fixed !important;
            top: -1% !important;
            right: 0% !important;
        }
        .left-top {
            padding: 7px !important;
            width: 8px !important;
            height: 90px !important;
            position: fixed !important;
            top: 0% !important;
            left: 0% !important;
        }
        .left-bottom {
            padding: 7px !important;
            width: 8px !important;
            height: 80px !important;
            position: fixed !important;
            top: 93% !important;
            left: 0% !important;
        }
        .right-bottom {
            padding: 8px !important;
            width: 8px !important;
            height: 80px !important;
            position: fixed !important;
            top: 93% !important;
            right: 0% !important;
        }
    }
}
